article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif;
}
/* ===text styles=== */

/* font-family: 'Raleway', sans-serif;
font-family: 'Lora', serif; */

h1 {
  margin: 0;
  padding: 15px 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 3.5rem;
}

h2 {
  text-transform: uppercase;
  font-size: 2.1rem;
  letter-spacing: 1px;
  text-align: center;
  margin: 0;
}

h3 {
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 1px;
  text-align: left;
  margin: 0;
}

p {
  font-family: 'Lora', serif;
  font-size: 1.1rem;
  color: #666666;
  text-align: center;
  line-height: 1.5;
}

/* ===general styles=== */

.wrapperSmall {
  max-width: 75%;
  margin: 0 auto;
}

.wrapperLarge {
  width: 85%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}
/* ===header styles=== */

header {
  background-image: url("../assets/home-1.jpeg");
  height: 85vh;
  /* background-attachment: fixed; */
  background-position-y: 35%;
  background-size: cover;
}

header h1 {
  float: left;
}

header ul {
  float: right;
  padding-right: 10px;
}

header li, header li a {
  display: inline-block;
  list-style-type: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px;
  color: black;
}

header li:hover, header li a:hover {
  color: #64a604;
}

header li a {
  text-decoration: none;
}

.shoppingCounter {
  position: relative;
}
.counter {
	background: #64a604;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	bottom: 0;
  right: 0;
  position: absolute;
}
.counter p {
	padding-top: 2px;
	color: white;
	margin: 0;
	text-align: center;
	font-size: 9px;
}

/* ===Popular section=== */

.popular {
  width: 100%;
}

.popLeft, .popRight {
  float: left;
  width: 50%;
}

.leftText {
  margin: 25% 0 0 0;
}

.popButton {
  background-color: #64a604;
  padding: 10px;
  border: #64a604 1px solid;
  color: white;
  width: 100px;
  margin: 0 auto;
}

.leftText p {
  margin-bottom: 25px;
}

/* ====details section==== */
.detailsLeft, .detailsRight {
  float: left;
  width: 50%;
}

.detailsRight {
  padding: 5.6% 20px;
  background-color: #f2f2f2;
}

.detailsRight ul {
  margin: 0;
}

.detailsRight li {
  list-style-type: none;
}

.leftColumn, .rightColumn {
  float: left;
  width: 50%;
}

.detailsText {
  float: left;
  width: 80%;
}

.icons {
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  position: relative;
  font-size: 20px;
  margin: 30px;
}

.icons h3 {
  font-family: 'Raleway', sans-serif;
}

.icons p {
  color: grey;
  text-align: left;
  font-weight: 400;
  font-size: 1rem;
}

.left1::before {
  content: "\f094";
  position: absolute;
  top:0;
  left: -30px;
}

.left2::before {
  content: "\f0f4";
  position: absolute;
  top:0;
  left: -30px;
}

.left3::before {
  content: "\f06c";
  position: absolute;
  top:0;
  left: -30px;
}

.right1::before {
  content: "\f2e7";
  position: absolute;
  top:0;
  left: -30px;
}

.right2::before {
  content: "\f000";
  position: absolute;
  top:0;
  left: -30px;
}

.right3::before {
  content: "\f2e5";
  position: absolute;
  top:0;
  left: -30px;
}

/* ====About section=== */
figure img {
  width: 350px;
  height: auto;
}
figure {
  margin-bottom: 45px;
}
.aboutTable {
  position: relative;
  text-align: center;
}
.circle {
  width: 125px;
  height: auto;
  position: absolute;
  top: -70px;
  right: 250px;
}

.about {
  padding: 175px 0 100px 0;
}

.about p {
  color: grey;
  text-align: center;
  line-height: 18px;
}

/* ====photo gallery section=== */

.photoGallery li {
  width: 33.33%;
  float: left;
  list-style-type: none;
}

.photoGallery img {
  height: 100%;
}

.photoGallery ul {
  margin: 0;
  padding: 0;
}

/* ====testimonial sections==== */

.testimonials {
  background-color: #dded9a;
  margin: 0;
  padding: 150px 0;
}
.testimonials .wrapperLarge {
  position: relative;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
  font-family: 'Lora', serif;
  width: 65%;
  margin: 0 auto;
  line-height: 25px;
}

blockquote::before {
  content: "“";
  font-size: 6rem;
  position: absolute;
  left: 120px;
  top: 75px;
  color: white;
}
    
blockquote::after {
  content: "”";
  font-size: 6rem;
  position: absolute;
  right: 150px;
  bottom: 10px;
  color: white;
}

.testimonials i {
  font-size: 2rem;
  color: white;
  padding: 15px;
}

.arrows {
  margin: 0 auto;
  width: 10%;
}